.cardScrollBars::-webkit-scrollbar {
    width: 6px;
}

.cardScrollBars::-webkit-scrollbar-track {
    background: #222222;
}

.cardScrollBars::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 5px;
}

.cardScrollBars::-webkit-scrollbar-thumb:hover {
    background: #444444;
}

.container {
    width: 100% !important;
}

.spacer-div {
    height: 50px;
}