@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.individual-img {
    max-height: 600px;
    max-width: 600px;
    object-fit: contain;
    background-color: #222222;
    border-radius: 15px;
}

.individual-h2 {
    font-family: 'Paytone One', sans-serif;
    color: #EEEEEE;
    text-transform: uppercase;
    font-size: 2em;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.individual-h3 {
    font-family: 'Paytone One', sans-serif;
    color: rgb(94, 71, 13);
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.individual-h3-description {
    color: #cccccc;
    font-size: 1em;
    margin: 0px;
    padding: 0px 0px 20px 0px;
}

.individual-p {
    color: #888888;
    font-size: 1em;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    font-weight: 500;
}

.individual-col {
    border-right: solid 2px rgb(94, 71, 13);
}

.individual-col-right {
    border-right: none;
}